@import "./variables.scss";

// start Global Styles
* {
  box-sizing: border-box;
}
.w-50 {
  width: 50% !important;
}
.w-25 {
  width: 25% !important;
}
.w-75 {
  width: 75% !important;
}
.w-80 {
  width: 80% !important;
}
.w-90 {
  width: 90% !important;
}
.w-100 {
  width: 100% !important;
}
h1 {
  font-size: 58px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 1rem;
}
p {
  font-size: 16px;
}
.subtitle1 {
  font-size: 16px;
}
.subtitle2 {
  font-size: 14px;
  color: #fff;
}
.body1 {
  font-size: 16px;
}
.body2 {
  font-size: 14px;
}
.caption {
  font-size: 12px;
}
.overline {
  font-size: 10px;
}
.gradiant {
  background: rgb(59, 230, 146);
  background: linear-gradient(
    90deg,
    rgba(59, 230, 146, 1) 0%,
    rgba(72, 129, 255, 1) 100%
  );
}
// End Global Styles

// Start Navbar
.v-app-bar {
  height: 80px !important;
  z-index: 100;
  .v-toolbar__content {
    height: 80px !important;
  }
  .logo {
    width: 150px;
  }
}

.navContainer {
  border-bottom: 1px solid #dbdbdb;
  padding: 10px;
  height: 60px !important;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
}

.mainLink .active {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 3px;
    background: #42bba2;
  }
}

.subTitles {
  margin: 10px;
  .link {
    text-decoration: none;
    color: #111;
    padding: 20px;
  }
}
// End Navbar

// Start v-Main
.v-main {
  // padding: 0px 0px 0px !important;
  // margin-top: 10px !important;
  background-color: #f5f4f4;
}
// End V-main
// Start Footer
footer {
  padding: 40px 0 !important;
  background-color: #111 !important;
  color: #cfd8dc !important;
  position: relative !important;
  a {
    color: #fff !important;
    .theme--light.v-btn {
      color: #cfd8dc !important;
    }
  }
  .socialMedia {
    .v-btn {
      color: #cfd8dc !important;
    }
  }
  .logo {
    width: 150px;
  }
  .hr {
    width: 100%;
    height: 1px;
    background-color: #cfd8dc;
    margin-top: 30px;
  }
}
// End Footer

// Start headerComponent
.headerComponent {
  height: 100vh;
  z-index: 101 !important;
  position: relative;
  .header-content {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    img {
      width: 100%;
      max-height: 100vh;
    }
    .text {
      position: absolute;
      color: #fff;
      top: 35%;
      width: 50%;
      .v-btn {
        color: #fff;
      }
    }
  }
}
// End headerComponent

// start overlay-nav
.overlay-nav {
  background-color: transparent !important;
  .v-app-bar {
    height: 80px !important;
    background-color: transparent !important;
    background: transparent !important;
    box-shadow: unset !important;
    border-color: unset !important;
    .v-toolbar__content {
      height: 80px !important;
    }
    .logo {
      width: 150px;
    }
    .theme--light.v-btn {
      color: #fff;
    }
  }
}
.mainLink {
  position: relative;
  text-decoration: none;
}

.mainLink .navTitle {
  color: #333;
}

.nuxt-link-exact-active ::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 7px solid #dbdbdb;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
}
.nuxt-link-exact-active ::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 7px solid white;
  bottom: -24px;
  left: calc(50% + -6px);
  z-index: 999;
}
// End overlay-nav

// strt home
.loginForm {
  background: #ffffffd9;
  box-shadow: 0 5px 15px 1px #00000014 !important;
  border-radius: 10px !important;
  padding: 10px !important;
}
.btn-green {
  color: #fff !important;
  background-color: #42bba2 !important;
  border-color: #42bba2 !important;
  min-width: 200px !important;
  margin-bottom: 3px;
}
.btn-transparent {
  color: #42bba2;
  background-color: transparent;
  opacity: 0.6;
  border: 1px solid #42bba2;
  min-width: 200px !important;
  margin-bottom: 10px;
}
.magic-link {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
// End home
// start analytics
.analyticsTitle {
  color: #74788d !important;
}
// End analytics
// start login

.logForm {
  background: #ffffffd9;
  box-shadow: 0 5px 15px 1px #00000014 !important;
  border-radius: 10px !important;
  padding: 30px !important;
}
// End login
//  start create event
.conCard {
  color: #fff;
  align-items: center;
  justify-content: center;
  height: 125px;
  cursor: pointer;
  transition: all 0.5s;
  background-color: #42bba2 !important;
  border-radius: 10px !important;
}
.event-icon {
  color: #fff !important;
}
.event-card {
  color: #fff;
  align-items: center;
  justify-content: center;
  height: 125px;
  cursor: pointer;
  transition: all 0.5s;

  border-radius: 10px !important;
  background: rgb(92, 69, 93);
  border-color: rgb(82, 59, 83);
  position: relative;
}
.event-icon {
  width: 30px;
  border-radius: 50% !important;
}
.created {
  position: absolute;
  bottom: 0px;
  padding: 10px;
}
//  end create event
